@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model SmithsonianSearch.Models.SearchResultsModels.ISearchResultsModel

<div id="result">
    @Html.Partial("~/Views/Search/SearchResultsBase.cshtml", Model)
</div>

<!-- Semi-transparent 'loading...' shim -->
<div id ="loading_text" style="display:none"><span id="text"><img src="~/img/ajax-loader.gif" /></span></div>

<div id="addToCartMessage" style="display:none">The item was succesfully added to cart.</div>