@using SmithsonianSearch.Models;
@using SmithsonianSearch.Models.Enums;
@using SmithsonianSearch.Helpers;

@helper RenderLazyLoadingLink(SearchModel searchModel, int numberOfTableCols = 1){
    bool isTableView = searchModel.SelectedView == ViewOptionsEnum.Table;
    
    if(isTableView)
    {
        var trClass = searchModel.PaginationModel.IsNextPageLinkAvailable ? "nextLinkRow" : "endOfResultsRow";
        @:<tr class="@trClass"><td colspan="@numberOfTableCols">
    }

    if (searchModel.PaginationModel.IsNextPageLinkAvailable)
    {
        <a class="nextLink clearfix" id="@string.Format("nextLink{0}", searchModel.PaginationModel.CurrentPageIndex)" href="@searchModel.GetNextPageUrl()">See More</a>
    }
    else if(searchModel.PaginationModel.StartItemIndex > 0)
    {
        <p class="endOfResults">The end of results.</p>
    }
    
    if(isTableView){
        @:</td></tr>
    }
}