.navbar {
margin: 0 -15px;
position: relative;
top: 0;
    width:980px
}
.navbar-collapse {
width: auto;
border-top: 0;
box-shadow: none;
}
.navbar-collapse.collapse{padding: 0;float: left;margin-left: 42px;
display: block !important;
height: auto !important;
overflow: visible !important;
}
.navbar-collapse.in {
overflow-y: auto;
}
.navbar-collapse .navbar-nav.navbar-left:first-child {
margin-left: -15px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
margin-right: -15px;
}
.navbar-collapse .navbar-text:last-child {
margin-right: 0;
}
.navbar-header {float: left;}
.navbar-form{width:90%;}
.navbar-brand{max-width: 151px;padding: 0;}
.navbar-collapse.collapse {position:absolute;left:175px;top:0px}
.navbar-collapse.collapse {display: block !important;}
.navbar-nav > li > a{font-size:1em}
.navbar-nav > li {float: left;}
.navbar .view-cart {display: none;}
.navbar{background:#fff url(http://www.folkways.si.edu/images/index/top-nav-bar.gif) no-repeat 215px 0;z-index:10}
.navbar-nav > li > a{padding: 0px 19px 0 0; font-size: 11px;}
.navbar-nav > li > a:hover{color:#e07007 !Important}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {background: #fff;color: #e07007 !important;}
ul.nav li.dropdown:hover > ul.dropdown-menu { display: block; }
.navbar-nav .open .dropdown-menu {background: #526C79;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {background: none;}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background: #fff !important;}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
color: #e07007 !important;background:#fff !Important
}
.caret, .navbar-toggle, #clearSearchBox, .addThis {display:none !Important;}
.view-cart-link img , .caret, .navbar-toggle, .addThis, #tabsMobile {display:none !Important;}
.search-results h2 {font-size: 11px;}
.search-results h2 a{background: url(../img/title_bg.gif) no-repeat 100% 52%;}
.search-results li em { font: bold 10px verdana, arial, sans-serif; }
.search-results > li {float: left;width: 340px;height: 137px;padding-bottom: 0;border-bottom: none}
.search-results > li + li {margin-top: 0em;}
.search-results li ul, .search-results li li{margin:0;padding:0}
.search-results li ul {width:60%}
#filters {display:inline-block;height: expression( this.scrollHeight < 601 ? "600px" : "auto" ); /* sets min-height for IE */}
#filters, .view-cart-link, #tabs, #relatedMain{display:block;}
#tabs {height:32px}
#tabs a {padding:12px 0}
#tabs .tab-all{width:50px !important}
#tabs .tab-merchandise{width:123px !important}
#tabs .tab-tools-teaching{width:171px !important}
.content-type-overlay{background:#333;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";}
a.imageLink {float:left;margin-right:10px}
a.imageLink, a.imageLink img {width:110px;min-height:110px !important;max-height:110px !important;}
.view-cart-link{font: bold 0.9em Georgia, 'Times New Roman', serif;color: #E07007;margin: 14px 15px 0 0;text-transform: uppercase;}
.nav-list ul{margin-top:-15px}
.nav-list input{margin:0;padding:0}
.nav-list label span{width:85%;}
#relatedMain{padding:1em}
#relatedMain h3{font-size:1em}
#relatedMain h3,  #relatedMain li{display:inline}
#relatedMain li{font-style:italic;padding:.5em}
.clear-filter {color: #E07007;}
.container-height > .row {   height: expression( this.scrollHeight < 501 ? "500px" : "auto" ); /* sets min-height for IE */}
#filters, .logo-folkways{display:block !important;}
#filters{position: relative;top:-65px}
#filters h3, #related h3{color:#333}
#filters li ul li{margin-bottom:-3px}
#tabs .tab-all{width: 40px;}
#tabs .tab-videos{width: 65px;} 
#tabs .tab-tools-teaching{width:160px} 
.logo-folkways{text-align: right;padding-right: 15px;}
.logo-folkways img{ width: 750px}
.filter-options, #close-filter{display:none;}
.addThis{display:block;margin-top: 1em;}
.addThis > span:first-child {display: block;padding: 4px 12px 0 0;float: left;}
.stButton .chicklets { font-size: 0 !important;color:#fff }
.stButton { margin: 0 !important; }
#search-box input[type=text]{width: 65%;height:18px;overflow:hidden;padding:0.4em 0.5em 0.2em}

.selectpicker {font-size:11px;line-height: 1.2;}
span.selectpicker {position:relative}
#sortOption {float: right;}
.ui-select, .ui-select .ui-btn select {width:157px !Important;}
.ui-btn.ui-corner-all {padding:0 !Important;background:none !Important;margin-top:0;}
.ui-btn.ui-corner-all span{display:none}
.view-grid, .view-list{display:inline-block;}
.view-grid {margin-left:-40px;margin-right:-5px}
#viewOption {display: block;}
#viewOption *{float:left}
.view {
text-align: right;
margin-top:-2px;
position: relative;
z-index: 100;
left: 80px;
right:-20px;
}
#displayOptions img {height:7px !Important;margin:10px -20px -5px 50px}
#search-results td li.buy em{margin:0 -10px 0 -15px !important}
#search-results .search-results .buy em{margin:0 -15px 0 0  !important}
form.buy + span {display:none}
#loading_text #text {left:48%;}
.text-hide{text-indent: 100%;
white-space: nowrap;
overflow: hidden;
text-transform:uppercase;}
.container {
width: 950px !Important;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
float: left;
}
.col-md-9 {
width:746px !important;border:1px solid white
}
.col-md-6 {
width: 450px !important;
}
.col-md-5 {
width: 303px !important;
}
.col-md-4 {
width:243px !important;
}
.col-xs-6{width:220px !important;}
.col-md-3 {
width:172px !important;
}
.col-md-2 {
width:156px !important;
}
.col-md-1 {
width:78px !important;
}
/*a.nextLink{display:inline;}
tr.nextLinkRow{display:block;}*/
.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    zoom: 1;  
}
#clearSearchBox {height: 25px;}