.navbar-header {float: left;}
.navbar-form{width:90%;}
.navbar-brand{width: 206px;}
.navbar-collapse.collapse {position:absolute;left:220px;top:0px}
.navbar-collapse.collapse {display: block !important;}
.navbar-nav > li > a{font-size:1em}
.navbar-nav > li {float:left;}
.navbar-nav > li + li{margin:0;padding:0}
.nav-list ul {width:215px}
.caret, .navbar-toggle {display:none !Important;}
.search-results > li {float: left;width: 50%;min-height: 155px;}
.search-results > li + li {margin-top: 0em;}
.search-results img {width: 30%;}
.addThis span + span{position:relative;top:-1em}
#filters {display:inline-block;}
#filters, .view-cart-link, #tabs, #relatedMain{display:block;}
.view-cart-link{font: bold 0.9em Georgia, 'Times New Roman', serif;color: #E07007;margin: 14px 15px 0 0;text-transform: uppercase;}
.navbar .view-cart {display: none;}
#filters h3, #related h3{color:#333}
#relatedMain{padding:1em}
#relatedMain h3{font-size:1em}
#relatedMain h3,  #relatedMain li{display:inline}
#relatedMain li{font-style:italic;padding:.5em}
.clear-filter {color: #E07007;}
.container{width:992px;width: expression( document.body.clientWidth > 991 ? "992px" : "auto" ); /* sets max-width for IE */}
.container-height > .row {   height: expression( this.scrollHeight < 501 ? "500px" : "auto" ); /* sets min-height for IE */}
.navbar{background:#fff url(http://www.folkways.si.edu/images/index/top-nav-bar.gif) no-repeat 250px 0}
#filters, .logo-folkways{display:block !important;}
#filters{position: relative;top:-65px}
.logo-folkways{text-align: right;padding-right: 15px;}
.logo-folkways img{ width: 680px}
.filter-options, #close-filter{display:none;}
.navbar-collapse.collapse{padding: 0;float: left;margin-left: 42px;}
.addThis{display:block;margin-top: 1em;}
.addThis > span:first-child {display: block;padding: 4px 12px 0 0;float: left;}
.stButton .chicklets { font-size: 0 !important;color:#fff }
.stButton { margin: 0 !important; }
#search-box input[type=text]{width: 80%;}
.view-grid, .view-list{display:inline-block}
#viewOption{display:block}
#viewOption *{float:left}
.view-grid, .view-list{margin: -7px 0 0 5px;}
.footer li {float:left;
font-size: 0.8em;
padding-right: 5px;
border-right: 1px solid #ccc;
margin-right: 5px;
}
.footer a {
color: #777;
}
.navbar-collapse {
width: auto;
border-top: 0;
box-shadow: none;
}
.navbar-collapse.collapse {
display: block !important;
height: auto !important;
padding-bottom: 0;
overflow: visible !important;
}
.navbar-collapse.in {
overflow-y: auto;
}
.navbar-collapse .navbar-nav.navbar-left:first-child {
margin-left: -15px;
}
.navbar-collapse .navbar-nav.navbar-right:last-child {
margin-right: -15px;
}
.navbar-collapse .navbar-text:last-child {
margin-right: 0;
}
.container {
width: 970px;
}
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11 {
float: left;
}
.col-md-12 {
width: 100%;
}
.col-md-11 {
width: 91.66666666666666%;
}
.col-md-10 {
width: 83.33333333333334%;
}
.col-md-9 {
width: 75%;
}
.col-md-8 {
width: 66.66666666666666%;
}
.col-md-7 {
width: 58.333333333333336%;
}
.col-md-6 {
width: 50%;
}
.col-md-5 {
width: 41.66666666666667%;
}
.col-md-4 {
width: 33.33333333333333%;
}
.col-md-3 {
width: 25%;
}
.col-md-2 {
width: 16.666666666666664%;
}
.col-md-1 {
width: 8.333333333333332%;
}
.col-md-pull-12 {
right: 100%;
}
.col-md-pull-11 {
right: 91.66666666666666%;
}
.col-md-pull-10 {
right: 83.33333333333334%;
}
.col-md-pull-9 {
right: 75%;
}
.col-md-pull-8 {
right: 66.66666666666666%;
}
.col-md-pull-7 {
right: 58.333333333333336%;
}
.col-md-pull-6 {
right: 50%;
}
.col-md-pull-5 {
right: 41.66666666666667%;
}
.col-md-pull-4 {
right: 33.33333333333333%;
}
.col-md-pull-3 {
right: 25%;
}
.col-md-pull-2 {
right: 16.666666666666664%;
}
.col-md-pull-1 {
right: 8.333333333333332%;
}
.col-md-pull-0 {
right: 0;
}
.col-md-push-12 {
left: 100%;
}
.col-md-push-11 {
left: 91.66666666666666%;
}
.col-md-push-10 {
left: 83.33333333333334%;
}
.col-md-push-9 {
left: 75%;
}
.col-md-push-8 {
left: 66.66666666666666%;
}
.col-md-push-7 {
left: 58.333333333333336%;
}
.col-md-push-6 {
left: 50%;
}
.col-md-push-5 {
left: 41.66666666666667%;
}
.col-md-push-4 {
left: 33.33333333333333%;
}
.col-md-push-3 {
left: 25%;
}
.col-md-push-2 {
left: 16.666666666666664%;
}
.col-md-push-1 {
left: 8.333333333333332%;
}
.col-md-push-0 {
left: 0;
}
.col-md-offset-12 {
margin-left: 100%;
}
.col-md-offset-11 {
margin-left: 91.66666666666666%;
}
.col-md-offset-10 {
margin-left: 83.33333333333334%;
}
.col-md-offset-9 {
margin-left: 75%;
}
.col-md-offset-8 {
margin-left: 66.66666666666666%;
}
.col-md-offset-7 {
margin-left: 58.333333333333336%;
}
.col-md-offset-6 {
margin-left: 50%;
}
.col-md-offset-5 {
margin-left: 41.66666666666667%;
}
.col-md-offset-4 {
margin-left: 33.33333333333333%;
}
.col-md-offset-3 {
margin-left: 25%;
}
.col-md-offset-2 {
margin-left: 16.666666666666664%;
}
.col-md-offset-1 {
margin-left: 8.333333333333332%;
}
.col-md-offset-0 {
margin-left: 0;
}
