@using SmithsonianSearch.Helpers
@model SmithsonianSearch.Models.SearchResultsModels.ISearchResultsModel

@if (Model.SpellingSuggestions.SpellingSuggestions.Any() || Model.IsSpellingSuggestionSearch)
{
    <div id="searchAlternative">
        @if (Model.SpellingSuggestions.SpellingSuggestions.Any() && !Model.IsSpellingSuggestionSearch)
        {
            <p><strong>Did you mean:</strong>
                @foreach (var suggestion in Model.SpellingSuggestions.SpellingSuggestions)
                {
                    <a href="@Model.SearchModel.GetSpellingSuggestionUrl(suggestion)" class="relatedSearch">@Html.Raw(suggestion)</a>
                }
            </p>
        }
        else if (Model.IsSpellingSuggestionSearch)
        {
            <p>
                <strong>Search instead for:</strong> <a href="@Model.SearchModel.GetOriginallySpelledQueryUrl(Model.OriginallySpelledQuery)" class="relatedSearch">@Html.Raw(Model.OriginallySpelledQuery)</a>
            </p>
        }
    </div>
}